<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
                <string>com.riskanalytics.corp.jpruente.timemachine-cleanup</string>
        <key>ProgramArguments</key>
        <array>
                <string>/var/root/bin/timemachine-cleanup.sh</string>
        </array>
        <key>StartCalendarInterval</key>
        <array>
        <dict>
                <key>Weekday</key>
                <integer>1</integer>
                <key>Hour</key>
                <integer>20</integer>
                <key>Minute</key>
                <integer>0</integer>
        </dict>
        <dict>
                <key>Weekday</key>
                <integer>2</integer>
                <key>Hour</key>
                <integer>20</integer>
                <key>Minute</key>
                <integer>0</integer>
        </dict>
        <dict>
                <key>Weekday</key>
                <integer>3</integer>
                <key>Hour</key>
                <integer>20</integer>
                <key>Minute</key>
                <integer>0</integer>
        </dict>
        <dict>
                <key>Weekday</key>
                <integer>4</integer>
                <key>Hour</key>
                <integer>20</integer>
                <key>Minute</key>
                <integer>0</integer>
        </dict>
        <dict>
                <key>Weekday</key>
                <integer>5</integer>
                <key>Hour</key>
                <integer>20</integer>
                <key>Minute</key>
                <integer>0</integer>
        </dict>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/var/log/timemachine-cleanup/timemachine-cleanup.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/timemachine-cleanup/timemachine-cleanup-err.log</string>
</dict>
</plist>
